.homepage{
 background-color: #8e1b90; 
 width: 100%;
 height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.cdnfonts.com/css/perfect-dark-brk');
#navbarlink{
  color: white;

}
#main-head{
  position: absolute;
  width: 335px;
  height: 62px;
  left: 552px;
  top: 0px;
  
  font-family: 'Perfect Dark (BRK)';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  
  color: #FFFFFF;

}

.imagesection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.headingsec{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: white;
width: 500px;
}
.textimg{
  font-family: 'Poppins';
  color: white;
}
.textcoding{
  width: 500px;
  color:white;
  font-family: 'Poppins';
}
.journey-section{
  position: relative;
  left: 100px;
  
  
}
.textcoding2{
  width: 700px;
  color:white;
  font-family: 'Poppins';
}

.headocoding{
  
  color:white;
  font-family: 'Poppins';

}
.mycards{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50px;
  margin-bottom: 40px;
  border: 1px solid white;
  width: 700px;
  padding: 15px;
  border-radius: 10px;
  

}
.horizontalimg>img{
  width: 200px;
 
}
.horizontaltext>p{
  width:380px;
  position: relative;
  left: 30px;
  color: white;
}
/* ********************8 */

.vertical_horizontalclass{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 100px;
  top: 50px;
}
.parent-div{
  display: flex;
  flex-direction: column;
  
}
h3{
  color: white;
  position: relative;
  left: 30px;

}
.geekdiv{
  position: relative;
  top: 30px;
}
.geekhead,.codelovehead{
  

font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 72px;
/* identical to box height */
position: relative;
left: 100px;

color: #FFFFFF;
}
.geektext,.codelovetext{
  
font-family: 'Poppins';

position: relative;

left: 100px;

width: 550px;
color: white;
}
.codecards{
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;

}
.code1,.code2,.code3{
  width: 300px;
  margin: 20px;

}
.circleimg{
  border-radius: 50%;
  width: 100px;
  position: relative;
  left: 100px;
}
.code2{
  border-top: 1px solid white;
  border-right: 1px solid white;

}
/* footer css */
.main {
	max-height: 550px;;
	background-color: skyblue;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: relative;

}
.footer-distributed{
  background-color:#4176fa;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #101820;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #132a3e;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:   #252d4a;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #b0ff11;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #132a3e;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #252d4a;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}