#r-main {
  position: absolute;
  height: 58px;
  top: 25%;
  padding-left: 15%;
  padding-right: 5%;
  text-align: center;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  
}
#r-para {
  position: absolute;
  width:100%;
  height: 133px;
  top: 45%;
  padding-left: 5%;
  padding-right: 5%;
 

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

.r-container {
  width: 100%;
  margin-top: 25rem;
}

.r-row {
  width: 80%;
  margin: auto;
}

.r-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.r-card {
  flex-basis: calc(33.33% - 20px); /* Set the width of each div to 33.33% minus margin */
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.r-card img {
  width: 100%;
  height: 15rem;
}

.r-card h4 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}

.r-card ul li {
  font-size: 15px;
  color: #6e6e6e;
  line-height: 1.5;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .r-card {
    flex-basis: calc(50% - 20px); /* Adjust the width for smaller screens to display two divs per row */
  }
  #r-main{
    margin-top: 0;
    font-size: 2rem;
  }
  #r-para{
    margin-top: 2rem;
    font-size: .7rem;
  }
  .r-container{
    margin-top: 100%;
  }
}


/* .r-container {
  width: 100%;
  margin-top: 25rem;
}

.r-row {
  width: 80%;
  margin: auto;
}

.r-content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

.r-content .r-card {
  flex: 0 0 calc(33.33% - 40px); 
  margin: 50px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  .r-content .r-card {
    flex: 0 0 calc(50% - 40px); 
  }
} */

/* .r-container{
  width: 100%;
  margin-top: 25rem;
  
}
.r-row{
  width: 80%;
  margin: auto;
}
.r-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-content .r-card{
  flex: 1;
  margin: 50px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  background-color: #fff;
}

.r-card img{
  width: 100%;
  height: auto;
}
.r-card h4{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}
.r-card ul li{
  font-size: 15px;
  color: #6e6e6e;
  line-height: 1.5;
  padding: 10px;
}

@media screen and (max-width:800px){
  .r-content{
    flex-direction: column;
  }
} */